//new scss; need to organize
@import "./scss/header";
@import "./scss/tooltip";
@import "./scss/footer";
@import "./scss/main";
@import "./scss/dots";
@import "./scss/navBar";
@import "./scss/table";

//General rules
body {
  background-color: rgb(184, 184, 54);
  height: 99vh;
  width: 97vw;
}
header,
main,
footer {
  width: 60%;
  margin-left: 20%;
}
.column1,
.column2,
.column3 {
  position: relative;
  width: 30%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}
.column1 {
  order: 1;
  border-right: 2px red solid;
}
.column2 {
  order: 2;
  border-right: 2px red solid;
}
.column3 {
  order: 3;
}

label {
  position: relative;
  float: left;
  margin-left: 2%;
  margin-bottom: 3%;
  b {
    display: inline-block;
    margin-left: 15px;
  }
}

.active{
  background-color: red;
  border-radius: 19px;
}
img{
  padding-top: 5px;
  padding-bottom: 1px;
  height: 100%; 
  width: 30px;
  display: inline-block;
}
.hungry{
  background-color:red;
  
}