header {
  border-width: 2px;
  border-color: red;
  border-style: groove;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-txt-input {
  height: 33%;
  border-style: hidden;
  outline: none;
  border-radius: 5px;
}

.name_input {
  margin-left: 2%;
  width: 60%;
}

.player_input {
  width: 58%;
  margin-left: 2%;
}

.chronicle_input {
  margin-left: 2%;
  width: 48%;
}

.concept_input {
  margin-left: 2%;
  width: 59%;
}

.ambition_input {
  margin-left: 2%;
  width: 55%;
}

#predatorList {
  display: inline-block;
}

.sire_input {
  width: 75%;
  margin-left: 2%;
}

.clan_over_class select {
  margin-left: 2%;
  width: 60%;
}

.generation_over_class {
  display: inline;
}

.generation_over_class select {
  margin-left: 2%;
  width: 55%;
}

.header-txt-input:focus {
  background-color: gray;
  color: aliceblue;
}

#predatorList {
  border-radius: 5px;
}

#clanList {
  border-radius: 5px;
}

#generation {
  border-radius: 5px;
}

#tooltip {
  float: right;
  width: 19%;
  display: block;
  top: 8%;
  right: 2%;
  position: -webkit-sticky;
  position: sticky;
  border: 1px solid red;
  width: 18%;
  border-radius: 2px;
}

table {
  width: 100%;
}

th .dot-input {
  right: 0px;
}

.resources {
  margin-top: 10px;
  border-width: 2px;
  border-color: red;
  border-style: groove;
  border-radius: 15px;
  height: 40px;
}

.resources .hp {
  padding-left: 1%;
  margin-left: 0% !important;
}

.resources .hp b {
  margin-left: 45%;
}

.resources .wp {
  padding-left: 7%;
  padding-right: 0%;
  margin-left: 0;
}

.resources .wp b {
  margin-left: 40%;
}

.resources .hunger-sqr-input {
  margin-left: 12%;
}

.resources .hunger-sqr-input b {
  margin-left: 30%;
}

.resources label {
  margin-bottom: 0;
}

.resources label b {
  margin-left: 20px;
}

.atributes, .skills {
  margin-top: 10px;
  border-width: 2px;
  border-color: red;
  border-style: groove;
  border-radius: 15px;
}

.disciplineList {
  border-radius: 5px;
}

/* Container */
.container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 1px 1px 1px 1px;
  /* Hide the browser's default checkbox */
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 1rem;
  width: 1rem;
  border: 0.0625rem solid black;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
  color: red;
  font-weight: 1000;
  overflow: hidden;
}

/* When the checkbox is checked, add a black background */
.container input:checked ~ .checkmark {
  background-color: black;
}

.sqr {
  border-radius: 0 !important;
}

.superficial {
  line-height: 60%;
}

.aggravated {
  line-height: 80%;
}

.dot-input {
  padding-left: 4px;
  padding-right: 10px;
  padding-top: 4px;
}

nav {
  height: 8%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  opacity: 1;
  z-index: 2;
}

nav button {
  height: 100%;
  float: left;
  display: block;
  color: white;
  border-color: red;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 1;
}

#dice_roller {
  display: none;
}

.dice_result {
  display: inline-block;
  height: 100%;
  background-color: blue;
}

.reroll {
  float: right;
}

#wp_reroll {
  display: none;
}

.selected {
  background-color: green;
}

th .dot-input {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}

td {
  padding-left: 70px;
}

body {
  background-color: #b8b836;
  height: 99vh;
  width: 97vw;
}

header,
main,
footer {
  width: 60%;
  margin-left: 20%;
}

.column1,
.column2,
.column3 {
  position: relative;
  width: 30%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.column1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-right: 2px red solid;
}

.column2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border-right: 2px red solid;
}

.column3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

label {
  position: relative;
  float: left;
  margin-left: 2%;
  margin-bottom: 3%;
}

label b {
  display: inline-block;
  margin-left: 15px;
}

.active {
  background-color: red;
  border-radius: 19px;
}

img {
  padding-top: 5px;
  padding-bottom: 1px;
  height: 100%;
  width: 30px;
  display: inline-block;
}

.hungry {
  background-color: red;
}
/*# sourceMappingURL=sil2.css.map */